/*左侧菜单的宽度*/
$base-menu-width: 11rem;
$base-menu-min-width: $base-menu-width*0.365;
/*左侧菜单背景颜色*/
$base-menu-background: #001529;

/*顶部导航高度*/
$base-tabbar-height: 3rem;

/*左侧logo高度设置*/
$base-menu-logo-height: 4rem;
/*左侧logo文字设置*/
$base-logo-title-fontSize: 1rem;